Esercizio 1
Dichiarare una variabile "nome" e assegnargli il tuo nome. Mandare a schermo.

In [1]:
nome="Antonio"
print(nome)

Antonio

Esercizio 2
Dichiarare una variabile "eta" e assegnargli la tua età. Mandare a schermo.

In [2]:
eta = 22
print(eta)

22

Esercizio 3
Dichiarare una variabile "pi" e assegnargli il valore di pi greco (3,14159). Mandare a schermo.

In [9]:
import math
print(math.pi)

3.141592653589793

Esercizio 4
Creare una variabile "lunghezza" e assegnargli un valore, quindi riassegnare la variabile a 15. Mandare a schermo.

In [11]:
lunghezza = 10
print(lunghezza)
lunghezza = 15
print(lunghezza)

10
15

Esercizio 5
Creare una variabile "nome_completo" e assegnargli una stringa contenente il tuo nome e cognome. Mandare a schermo

In [13]:
nome_completo = "Antonio Cifarelli"
print(nome_completo)

Antonio Cifarelli

In [14]:
nome="Antonio"
cognome="Cifarelli"
nome_completo=nome+" "+cognome
print(nome_completo)

Antonio Cifarelli

Esercizio 6
Creare una variabile "eta_futura" e assegnargli il valore dell'età che avrai tra 10 anni (utilizzando la variabile età già esistente). Mandare a schermo.

In [15]:
eta_futura = eta + 10
print(eta_futura)

32

Esercizio 7
Creare delle variabili "nome", "cognome" ed "anno_di_nascita" ed assegnargli i valori. Mandare a schermo in un unico print. Sovrascrivere tutte le variabili e rimandare a schermo una seconda volta.

In [18]:
nome = "Antonio"
cognome = "Cifarelli"
anno_di_nascita = 2003
print(nome, cognome, anno_di_nascita)
print(nome + " " + cognome + " " + str(anno_di_nascita))

Antonio Cifarelli 2003
Antonio Cifarelli 2003

Esercizio 8
Creare una variabile eta_attuale e assegnargli il valore dell'età che hai attualmente, calcolandola in base all'anno corrente. Mandare a schermo eta_attuale

In [19]:
eta_attuale = 2025 - anno_di_nascita
print(eta_attuale)

22

NUOVI ESERCIZI

Esercizio 1
Dichiarare una variabile "numero_intero" e assegnargli un valore intero. Mandare a schermo il tipo della variabile per conferma.

In [20]:
numero_intero=5
print(type(numero_intero))

<class 'int'>

Esercizio 2
Dichiarare una variabile "numero_decimale" e assegnargli un valore float. Mandare a schermo il tipo della variabile per conferma.

In [21]:
numero_decimale=5.5
print(type(numero_decimale))

<class 'float'>

Esercizio 3
Creare una variabile "testo" e assegnargli una stringa contenente una frase. Mandare a schermo il tipo della variabile per conferma.

In [22]:
testo = "hello world!"
print(type(testo))

<class 'str'>

Esercizio 4
Creare una variabile "valore_booleano" e assegnargli un valore booleano. Mandare a schermo il tipo della variabile per conferma.

In [23]:
valore_booleano = True
print(type(valore_booleano))

<class 'bool'>

Esercizio 5
Creare una lista "numeri" contenente 5 numeri interi. Mandare a schermo il tipo della variabile per conferma.

In [25]:
numeri = [1,2,3,4,5]
print(type(numeri))

<class 'list'>

Esercizio 6
Creare una lista "misti" contenente un numero intero, un numero float, una stringa e un valore booleano. Mandare a schermo il tipo della variabile per conferma.

In [26]:
misti = [1,2.5,"hello",True]
print(type(misti))

<class 'list'>

Esercizio 7
Creare una tupla "giorni_settimana" contenente i giorni della settimana come stringhe. Mandare a schermo il tipo della variabile per conferma.

In [27]:
giorni_settimana = ("lunedi","martedi","mercoledi","giovedi","venerdi","sabato","domenica")
print(type(giorni_settimana))

<class 'tuple'>

Esercizio 8
Creare un dizionario "informazioni_personali" contenente il tuo nome, cognome, età e città di residenza. Mandare a schermo il tipo della variabile per conferma.

In [28]:
informazioni_personali = {"nome":"Antonio","cognome":"Cifarelli","età":22,"citta":"Napoli"}
print(type(informazioni_personali))

<class 'dict'>