<a href="https://colab.research.google.com/github/cifa17/python/blob/main/liste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Esercizio 1
Creare una lista vuota assegnarla a una variabilee stamparla.

In [3]:
lista=[]
var=lista
print(var)

[]

In [7]:
lista=[]
print(lista)

[]

Esercizio 2
Creare una lista di numeri interi da 1 a 5 e assegnarla a una variabile e stamparla.

In [8]:
lista=[1,2,3,4,5]
var=lista
print(var)

[1, 2, 3, 4, 5]

In [6]:
lista=[1,2,3,4,5]
print(lista)

[1, 2, 3, 4, 5]

Esercizio 3
Accedere all'elemento con indice 2 della lista precedente.

In [9]:
lista[2]

3

Esercizio 4
Aggiungere un nuovo elemento "6" alla lista precedente.

In [10]:
lista.append(6)
print(lista)

[1, 2, 3, 4, 5, 6]

Esercizio 5
Rimuovere l'elemento con indice 3 dalla lista precedente.

In [11]:
lista.pop(3)
lista

[1, 2, 3, 5, 6]

In [13]:
del lista[3]
lista

[1, 2, 5]

In [12]:
lista.remove(3) #ti elimina l'elemeno 3 non l'elemento all'indice 3 della lista
lista

[1, 2, 5, 6]

Esercizio 6
Creare una nuova lista che contenga solo i primi tre elementi della lista precedente.

In [21]:
lista2 = lista[:3] # slice
print(lista2)

[1, 2, 3]

Esercizio 7
Creare una nuova lista che contenga gli elementi con indici dispari della lista precedente.

In [22]:
lista=[1,2,3,4,5,6,7,8,9,10]
lista_dispari = lista[1::2]
print(lista_dispari)

[2, 4, 6, 8, 10]

Esercizio 8
Ordinare la lista precedente in ordine decrescente.

In [24]:
lista = [32,12,4,77,54,3]
print(lista)
lista.sort(reverse=True)
print(lista)

[32, 12, 4, 77, 54, 3]
[77, 54, 32, 12, 4, 3]

Esercizio 9
Contare quante volte l'elemento "2" appare nella lista.

In [28]:
lista = [1,2,3,4,5,6,7,8,9,10]
lista.sort(reverse=True)
print(lista)
print(lista.count(2))

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]
1