<a href="https://colab.research.google.com/github/cifa17/python/blob/main/operatori_matematici.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Esercizio 1
Dichiarare due variabili "numero1" e "numero2" e assegnargli due numeri interi. Eseguire l'addizione tra le due variabili e assegnare il risultato ad una nuova variabile "somma", mandandola a schermo

In [ ]:
numero1=10
numero2=20
somma=numero1+numero2
print(somma)

30

In [ ]:
somma=0
for i in range(0,2):
  numero = int(input("Inserisci un numero: "))
  somma += numero
print("la somma e'", somma)

Inserisci un numero: 2
Inserisci un numero: 1
la somma e' 3

In [ ]:
somma=0
for i in range(0,2):
  # Use f-string formatting to create a single prompt string
  numero = int(input(f"Inserisci il {i+1}° numero: "))
  somma += numero
print("la somma e'", somma)

Inserisci il 1° numero: 3
Inserisci il 2° numero: 2
la somma e' 5

Esercizio 2
Eseguire la sottrazione tra le due variabili e assegnare il risultato ad una nuova variabile "differenza". Mandare a schermo.

In [ ]:
numero1=10
numero2=5
differenza=numero1-numero2
print(differenza)

5

In [ ]:
differenza=0
for i in range(0,2):
  numero = int(input("Inserisci un numero: "))
  differenza = numero - differenza
print("la differenza e'", -differenza)

Inserisci un numero: 3
Inserisci un numero: 2
la differenza e' 1

Esercizio 3
Eseguire la moltiplicazione tra le due variabili e assegnare il risultato ad una nuova variabile "prodotto". Mandare a schermo.

In [ ]:
moltiplicazione=1
for i in range(0,2):
  numero = int(input("Inserisci un numero: "))
  moltiplicazione += numero
print("il prodotto e'", moltiplicazione)

Inserisci un numero: 3
Inserisci un numero: 2
il prodotto e' 6

Esercizio 4
Eseguire la divisione tra le due variabili e assegnare il risultato ad una nuova variabile "quoziente". Mandare a schermo.

In [ ]:
numero1 = float(input("Inserisci un numero: "))
numero2 = float(input("Inserisci un numero: "))

print("il quoziente e'", numero1/numero2)
#con interpolazione
print(f"Il risultato della divisione è: {numero1/numero2}")

Inserisci un numero: 10
Inserisci un numero: 2
il quoziente e' 5.0
Il risultato della divisione è: 5.0

Esercizio 5
Eseguire l'operazione di modulo tra le due variabili e assegnare il risultato ad una nuova variabile "resto". Mandare a schermo.

In [ ]:
n1=int(input("Inserisci un numero: "))
n2=int(input("Inserisci un numero: "))
print("il resto e'", n1%n2)
if n1%n2==0:
  print("il primo numero e' divisibile per il secondo")
else:
  print("il primo numero non e' divisibile per il secondo")

Inserisci un numero: 7
Inserisci un numero: 2
il resto e' 1
il primo numero non e' divisibile per il secondo

Esercizio 6
Incrementare "numero1" di 1 e decrementare "numero2" di 3. Mandare a schermo i nuovi valori.

In [ ]:
n1=int(input("Inserisci un numero: "))
n2=int(input("Inserisci un numero: "))
n1+=1
n2-=3
print(f"il primo numero e' ", n1)
print(f"il secondo numero e' ", n2)

Inserisci un numero: 5
Inserisci un numero: 5
il primo numero e'  6
il secondo numero e'  2

In [ ]:
a=int(input("Inserisci un numero: "))
b=int(input("Inserisci un numero: "))
def calcola(n1,n2):
  n1+=1
  n2-=3
  return n1,n2
print("i numeri sono stati modificati:", calcola(a,b))

Inserisci un numero: 9
Inserisci un numero: 13
i numeri sono stati modificati: (10, 10)

Esercizio 7
Moltiplicare "numero1" per se stesso + 5, sommarlo quindi a "numero2" elevato alla seconda. Assegnare l'operazione alla variabile risultato e mandare a schermo

In [ ]:
numero1=int(input("Inserisci un numero: "))
numero2=int(input("Inserisci un numero: "))
risultato=(numero1*numero1) + 5 + numero2**2
print(risultato)

Inserisci un numero: 2
Inserisci un numero: 3
18

Esercizio 8
Trovare quella operazione per portare "numero1" a valere 1 senza riassegnarlo direttamente ad 1 e sottraendolo a se stesso.

In [4]:
numero1=int(input("Inserisci un numero: "))
numero1 = numero1-(numero1-1)
print("il risultato e'", numero1)

Inserisci un numero: 8
il risultato e' 1