<a href="https://colab.research.google.com/github/cifa17/python/blob/main/tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Esercizio 1
Creare una tupla vuota e assegnarla a una variabile.

In [2]:
tupla_vuota = ()
print(tupla_vuota)

()

Esercizio 2
Creare una tupla con i seguenti elementi: "mela", "kiwi", "lampone"

In [3]:
tupla = ("mela", "kiwi", "lampone")
print(tupla)

('mela', 'kiwi', 'lampone')

Esercizio 3
Accedere all'elemento "kiwi" della tupla precedente

In [4]:
tupla = ("mela", "kiwi", "lampone")
print(tupla[1])

kiwi

Esercizio 4
Creare una nuova tupla che contenga solo i primi due elementi della tupla precedente.

In [5]:
tupla = ("mela", "kiwi", "lampone")
tupla2 = tupla[:2]
print(tupla2)

('mela', 'kiwi')

Esercizio 5
Verificare se l'elemento "ananas" Ã¨ presente nella tupla precedente

In [8]:
tupla = ("mela", "kiwi", "lampone")
if "ananas" in tupla:
  print("ananas presente nella tupla")
else:
  print("ananas non presente nella tupla")

ananas non presente nella tupla

Esercizio 6
Creare una nuova tupla concatenando la tupla precedente con la tupla ("pesca", "arancia").

In [9]:
tupla = ("mela", "kiwi", "lampone")
tupla2 = ("pesca", "arancia")
tupla3 = tupla + tupla2
print(tupla3)

('mela', 'kiwi', 'lampone', 'pesca', 'arancia')

Esercizio 8
Creare una tupla contenente i numeri interi da 1 a 5.

In [10]:
numeri = (1, 2, 3, 4, 5)
print(numeri)

(1, 2, 3, 4, 5)

Esercizio 9 (difficile)
Creare una tupla contenente il quadrato dei numeri interi da 1 a 5.

In [11]:
numeri = (1, 2, 3, 4, 5)
quadrati = tuple(x**2 for x in numeri) # utilizzo dei generatori
print(quadrati)

(1, 4, 9, 16, 25)

Esercizio 10
Contare il numero di occorrenze dell'elemento "mela" nella tupla precedente.

In [12]:
frutta = ("mela", "kiwi", "lampone", "mela")
print(frutta.count("mela"))

2